<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <style>
    .nav_bar {
      display: flex;
      flex-direction: column;
    }
  </style>

  <body>
    <div class="nav_bar">
      <a href="/rock">Play Rock</a>
      <a href="/paper">Play Paper</a>
      <a href="/scissors">Play Scissors</a>
    </div>

    <%= yield %>

  </body>
</html>
